@font-face {
    font-family: "Inter-SemiBold";
    src: url("./assets/fonts/Inter-SemiBold.ttf");
}

@font-face {
    font-family: "Inter-Regular";
    src: url("./assets/fonts/Inter-Regular.ttf");
}

body {
	margin: 0px;
	background-color: #0E1F5D;
  font-family: "Inter-Regular", sans-serif;
}

.popup-container {
	width: 350px;
	height: auto;
	border-shadow: none;
	padding: 15px;
	border-radius: 15px;
}

header {
  margin-bottom: 50px;
}

h3 > a {
  font-family: "Inter-SemiBold", sans-serif;
	color: white;
	font-size: 1.6em;
  text-decoration: none;
  letter-spacing: -0.5px;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  transition-duration: 0.3s;
}

h3 > a:hover {
  opacity: 0.6;
  transition-duration: 0.3s;
}

#try {
  font-size: 0.8em;
  font-weight: bold;
  color: #7F9AFA;
  text-decoration: none;
  border: solid 1px #7F9AFA;
  background-color: transparent;
  padding: 5px 25px 5px 25px;
  border-radius: 5px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  transition-duration: 0.3s;
}

#try:hover {
  background-color: #7F9AFA;
  color: black;
  transition-duration: 0.3s;
}

.textarea-wrapper {
  position: relative;
}

textarea {
  font-family: "Inter-Regular", sans-serif;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  min-height: 50px;
  height: 50px;
  max-height: 100px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 1em;
  overflow-y: scroll;
}

button {
  font-family: "Inter-SemiBold", sans-serif;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  color: #0E1F5D;
  background-color: #7F9AFA;
  font-size: 1em;
  border: solid 1.5px #292A2D;
  margin-right: 5px;
  transition-duration: 0.3s;
}

button:hover {
  opacity:0.8;
  transition-duration: 0.3s;
}

#outputText {
  font-family: "Inter-Regular", sans-serif;
  word-break: break-all;
  white-space: normal;
  font-size: 1em;
  color: white;
  max-height: 100px;
  overflow: hidden;
}

#outputText:hover {
  opacity:0.4;
  cursor: pointer;
  transition-duration: 0.3s;
}

.copied {
  display: none;
  pointer-events: none;
  color: #0FCF7E;
  font-size: 0.8em;
  border-radius: 2px;
}

#syncIcon {
  height: 15px;
  width: auto;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition-duration: 0.3s;
}

#syncIcon:hover {
  opacity: 0.6;
  transition-duration: 0.3s;
}

#version {
  font-size: 0.7em;
  color: #7F9AFA;
  position: absolute;
  bottom: 10px;
  left: 10px;
  cursor: pointer;
  transition-duration: 0.3s;
}

#version:hover {
  color: white;
  transition-duration: 0.3s;
}

footer {
  margin-top: 30px;
}